<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhao.mapper.ArticleCollectMapper">
    
    <!-- 根据文章ID和用户ID查询有效的收藏记录（未删除） -->
    <select id="findByArticleIdAndUserId" resultType="com.zhao.pojo.ArticleCollect">
        select * from article_collect
        where article_id = #{articleId}
        and user_id = #{userId}
        and is_deleted = 0
    </select>
    
    <!-- 根据文章ID和用户ID查询所有状态的收藏记录（包括已删除的） -->
    <select id="findByArticleIdAndUserIdAnyStatus" resultType="com.zhao.pojo.ArticleCollect">
        select * from article_collect
        where article_id = #{articleId}
        and user_id = #{userId}
    </select>
    
    <!-- 插入收藏记录 -->
    <insert id="insert" parameterType="com.zhao.pojo.ArticleCollect" useGeneratedKeys="true" keyProperty="id">
        insert into article_collect (
            article_id, user_id, collect_time, is_deleted
        ) values (
            #{articleId}, #{userId}, #{collectTime}, #{isDeleted}
        )
    </insert>
    
    <!-- 逻辑删除收藏记录 -->
    <update id="deleteByArticleIdAndUserId">
        update article_collect
        set is_deleted = 1
        where article_id = #{articleId}
        and user_id = #{userId}
    </update>
    
    <!-- 恢复收藏记录 -->
    <update id="restoreByArticleIdAndUserId">
        update article_collect
        set is_deleted = 0
        where article_id = #{articleId}
        and user_id = #{userId}
    </update>
    
    <!-- 获取用户收藏列表 -->
    <select id="findUserCollections" resultType="com.zhao.pojo.ArticleCollectionVO">
        select 
            a.id, 
            a.title, 
            a.cover_img as coverImg, 
            u.username as author, 
            ac.collect_time as collectTime
        from 
            article_collect ac
        join 
            article a on ac.article_id = a.id
        join 
            user u on a.create_user = u.id
        where 
            ac.user_id = #{userId} 
            and ac.is_deleted = 0
        order by 
            ac.collect_time desc
        limit 
            #{start}, #{pageSize}
    </select>
    
    <!-- 计算用户收藏总数 -->
    <select id="countUserCollections" resultType="java.lang.Integer">
        select count(*)
        from article_collect
        where user_id = #{userId} and is_deleted = 0
    </select>
</mapper>