<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhao.mapper.CategoryMapper">
    <!-- 新增分类 -->
    <insert id="add" parameterType="com.zhao.pojo.Category">
        insert into category (
            category_name, category_alias,
            create_user, create_time, update_time
        ) values (
                     #{categoryName}, #{categoryAlias},
                     #{createUser}, #{createTime}, #{updateTime}
                 )
    </insert>


    <select id="findAllWithArticleCount" resultType="com.zhao.pojo.CategoryVO">
        SELECT
            c.id,
            c.category_name AS categoryName,
            c.category_alias AS categoryAlias,
            c.create_user AS createUser,
            c.create_time AS createTime,
            c.update_time AS updateTime,
            COUNT(a.id) AS articleCount
        FROM
            category c
                LEFT JOIN
            article a ON c.id = a.category_id
        GROUP BY
            c.id
#         ORDER BY
#             c.create_time DESC
    </select>



    <!-- 查询指定用户创建的分类ID列表 -->
    <select id="findUserCategoryIds" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT id FROM category WHERE create_user = #{userId}
    </select>

    <!-- 查询用户创建的文章分类列表 -->
    <select id="list" resultType="com.zhao.pojo.Category">
        select * from category where create_user=#{userId}
    </select>

    <!-- 根据ID查询分类 -->
    <select id="findById" parameterType="java.lang.Integer" resultType="com.zhao.pojo.Category">
        select * from category where id=#{id}
    </select>

    <!-- 更新分类 -->
    <update id="update" parameterType="com.zhao.pojo.Category">
        update category
        set category_name = #{categoryName},
            category_alias = #{categoryAlias},
            update_time = #{updateTime}
        where id = #{id}
    </update>


    <!-- 删除分类 -->
    <delete id="delete" parameterType="com.zhao.pojo.Category">
        delete from category where id=#{id}
    </delete>
</mapper>